
.dropdown-menu {
    position: static;
    display: block;
    width: auto;
    margin: 4rem auto;
  }
  
  .dropdown-menu-macos {
    display: grid;
    gap: .25rem;
    padding: .5rem;
    border-radius: .5rem;
    width: 220px;
  }
  .dropdown-menu-macos .dropdown-item {
    border-radius: .25rem;
  }
  .separador {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
  }
  .dropdown-filter{
    width: 280px;
  }
  .doth {
    width: .5em;
    height: .5em;
  }
  .form-control-dark {
    background-color: rgba(255, 255, 255, .05);
    border-color: rgba(255, 255, 255, .15);
  }
  .dropdown-icons{
    width: 220px;
  }
  .dropdown-item {
    display: block;
    width: 100%;
    padding: 0.25rem 1rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    text-decoration: none;
    white-space: nowrap; 
    background-color: transparent;
    border: 0;
  }
  .dropdown-red{
    color: #dc3545;
  }
  .dropdown-red:hover,
  .dropdown-red:focus {
    color: #fff;
    background-color: #dc3545;
  }
  .bi {
    vertical-align: -0.125em;
    fill: currentColor;
  }
  .dropdown-divider {
    height: 0;
    margin: 0.5rem 0;
    overflow: hidden;
    border-top: 1px solid rgba(0,0,0,.15);
  }
  .dropdown-calendar{
    width: 340px;
  }
.cal-month,
.cal-days,
.cal-weekdays {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  align-items: center;
}
.cal-month-name {
    grid-column-start: 2;
    grid-column-end: 7;
    text-align: center;
  }
  .cal-weekday,
  .cal-btn {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    height: 3rem;
    padding: 0;
  }
  .cal-btn:not([disabled]) {
    font-weight: 500;
  }
  .cal-btn:hover,
  .cal-btn:focus {
    background-color: rgba(0, 0, 0, .05);
  }
  .cal-btn[disabled] {
    opacity: .5;
  }
  .dropdown-mega{
    width: 600px;
  }
